@using Core.Models
@using BlazorClientServices.Interfaces
@inject IApiService apiService

@if (CreateDialogOpen) {
    <DialogComponent Title="Create" OnClose="@OnCreateDialogClose">
        <ItemFormComponent Item="@currentItem" />
    </DialogComponent>
}

@if (UpdateDialogOpen) {
    <DialogComponent Title="Update" OnClose="@OnUpdateDialogClose">
        <ItemFormComponent Item=@currentItem/>
    </DialogComponent>
}

@if (DeleteDialogOpen) {
    <DialogComponent Title="Delete" OnClose="@OnDeleteDialogClose">
        Do you want to delete this entry?
    </DialogComponent>
}


<div class="container">
    <a></a>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Storage</th>
                <th>Owner</th>
                <th>Classification</th>
                <th>Serial Number</th>
                <th>Weight</th>
                <th>Length</th>
                <th>Width</th>
                <th>Height</th>
                <th><button type="button" class="btn" @onclick="() => OpenCreateDialog()">Create</button></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>
                        <img src="@CreateImage(item.Image)" width="150" height="100"/>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.ParentStorage.StoragePath</td>
                    <td>@item.ItemOwner</td>
                    <td>@item.Classification</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.Weight</td>
                    <td>@item.Length</td>
                    <td>@item.Width</td>
                    <td>@item.Height</td>
                    <td>
                        <button type="button" class="btn" @onclick="() => OpenUpdateDialog(item)">Edit</button>
                        <button type="button" class="btn" @onclick="() => OpenDeleteDialog(item)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<Item> Items { get; set; } = new List<Item>();
    [Parameter]
    public EventCallback OnUpdateCallback { get; set; }

    private Item currentItem = new Item();

    private bool DeleteDialogOpen { get; set; }
    private void OpenDeleteDialog(Item item) {
        DeleteDialogOpen = true;
        currentItem = item;
        StateHasChanged();
    }
    private async Task OnDeleteDialogClose(bool accepted) {
        DeleteDialogOpen = false;
        if (accepted) {
            await apiService.DeleteAsync($"api/items/{currentItem.Id}");
            await OnUpdateCallback.InvokeAsync();
            StateHasChanged();
        }
    }

    private bool CreateDialogOpen { get; set; }
    private void OpenCreateDialog() {
        CreateDialogOpen = true;
        currentItem = new Item();
        StateHasChanged();
    }
    private async Task OnCreateDialogClose(bool accepted) {
        CreateDialogOpen = false;
        if (accepted) {
            await apiService.PostItemAsync("api/items", currentItem);
            await OnUpdateCallback.InvokeAsync();
            StateHasChanged();
        }
    }

    private bool UpdateDialogOpen { get; set; }
    private void OpenUpdateDialog(Item item) {
        currentItem = item;
        UpdateDialogOpen = true;
        StateHasChanged();
    }
    private async Task OnUpdateDialogClose(bool accepted) {
        UpdateDialogOpen = false;
        if (accepted) {
            await apiService.PutItemAsync($"api/items", currentItem);
            await OnUpdateCallback.InvokeAsync();
            StateHasChanged();
        }
    }


    private string CreateImage(ItemImage image) {
        string imageBase64Data = Convert.ToBase64String(image.ImageData);
        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        return imageDataURL;
    }
}
