@using Core.Models
@inject HttpClient Http

@if (CreateDialogOpen) {
    <DialogComponent Title="Create" OnClose="@OnCreateDialogClose">
        <ItemFormComponent Item="@currentItem" />
    </DialogComponent>
}

@if (UpdateDialogOpen) {
    <DialogComponent Title="Update" OnClose="@OnUpdateDialogClose">
        <ItemFormComponent Item=@currentItem/>
    </DialogComponent>
}

@if (DeleteDialogOpen) {
    <DialogComponent Title="Delete" OnClose="@OnDeleteDialogClose">
        Do you want to delete this entry?
    </DialogComponent>
}


<div class="container">
    <h3 class="p-3 text-center">Items list</h3>
    <a></a>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Owner</th>
                <th>Classification</th>
                <th>Serial Number</th>
                <th>Weight</th>
                <th>Size</th>
                <th><button type="button" class="btn" @onclick="() => OpenCreateDialog()">Create</button></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>
                        <img src="@CreateImage(item.Image)"/>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.ItemOwner</td>
                    <td>@item.Classification</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.Weight</td>
                    <td>@item.Height</td>
                    <td>
                        <button type="button" class="btn" @onclick="() => OpenUpdateDialog(item)">Edit</button>
                        <button type="button" class="btn" @onclick="() => OpenDeleteDialog(item)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<Item> Items { get; set; } = new List<Item>();
    [Parameter]
    public EventCallback OnUpdateCallback { get; set; }

    private Item currentItem = new Item();

    protected override async Task OnInitializedAsync() {

    }

    public bool DeleteDialogOpen { get; set; }

    private void OpenDeleteDialog(Item item) {
        DeleteDialogOpen = true;
        currentItem = item;
        StateHasChanged();
    }
    private async Task OnDeleteDialogClose(bool accepted) {
        DeleteDialogOpen = false;
        if (accepted) {
            await Http.DeleteAsync($"api/items/{currentItem.Id}");
        }
        await UpdateItems();
        StateHasChanged();
    }

    public bool CreateDialogOpen { get; set; }

    private void OpenCreateDialog() {
        CreateDialogOpen = true;
        currentItem = new Item();
        StateHasChanged();
    }

    private async Task OnCreateDialogClose(bool accepted) {
        CreateDialogOpen = false;
        if (accepted) {
            try {
                var storage = currentItem.ParentStorage;
                await Http.PostAsJsonAsync<Item>("api/items", currentItem);
            }
            catch(Exception ex) {
                Console.Write(ex.Message);
            }
        }
        await UpdateItems();
        StateHasChanged();
    }

    public bool UpdateDialogOpen { get; set; }

    private void OpenUpdateDialog(Item item) {
        currentItem = item;
        UpdateDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnUpdateDialogClose(bool accepted) {
        UpdateDialogOpen = false;
        if (accepted) {
            try {
                var response = Http.PutAsJsonAsync<Item>($"api/items", currentItem);
            }
            catch(Exception ex) {
                Console.WriteLine(ex.Message);
            }
        }
        await UpdateItems();
        StateHasChanged();
    }

    private async Task UpdateItems() {
        await OnUpdateCallback.InvokeAsync();
    }

    private string CreateImage(ItemImage image) {
        try {
            string imageBase64Data = Convert.ToBase64String(image.ImageData);
            string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
            return imageDataURL;
        } 
        catch (Exception ex){
            Console.WriteLine(ex.Message);
            return string.Empty;
        }
        
    }
}
