@page "/statistics"
@using Microsoft.AspNetCore.Authorization 
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DTOModels
@using BlazorClientServices.Interfaces
@attribute [Authorize(Roles = "Admin")] 
@inject IApiService apiService


<h3>Welcome to Statistics page</h3>
<EditForm Model=@CurrentUserId>
    <div class="form-group row">
        <label for="User" class="col-sm-4 col-form-label">User</label>
        <div class="col-sm-8">
            <InputSelect ValueExpression="@(()=>CurrentUserId)" 
                Value="@CurrentUserId" 
                ValueChanged="@((string value) => ChangeUser(value))" class="form-control" id="User">
                <option value="">Select User</option>
                @foreach (var user in users) {
                    <option value="@user.Id">@user.Email</option>
                }
            </InputSelect>
        </div>
    </div>
</EditForm>



@code {
    private string CurrentUserId {
        get {
            return currentUserId;
        }
        set {
            currentUserId = value;
        }
    }

    private List<ApplicationUserDTO> users = new List<ApplicationUserDTO>();
    private StatisticsDTO usersStatistics = new StatisticsDTO();
    private string currentUserId = string.Empty;


    protected override async Task OnInitializedAsync() {
        users = await apiService.GetUsersAsync();
    }

    private async Task ChangeUser(string value) {
        CurrentUserId = value;
        await GetUsersStorages();
    }

    private async Task GetUsersStorages() {
        usersStatistics = await apiService.GetUsersStatisticsAsync(CurrentUserId);
    }
}
