@page "/statistics"
@using Microsoft.AspNetCore.Authorization 
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DTOModels
@using ClientServices.Interfaces
@attribute [Authorize(Roles = "Admin")] 
@inject IApiService apiService

<EditForm Model=@CurrentUserId>
    <div class="form-group row">
        <div class="col-sm-2">
            <InputSelect ValueExpression="@(()=>CurrentUserId)" 
                Value="@CurrentUserId" 
                ValueChanged="@((string value) => ChangeUser(value))" class="form-control" id="User">
                <option value="">Select User</option>
                @foreach (var user in users) {
                    <option value="@user.Id">@user.Email</option>
                }
            </InputSelect>
        </div>
    </div>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Storages Amount</th>
            <th>Items Amount</th>
            <th>Registration Date</th>
            <th>Last Login Date</th>
            <th>Max Items in Storage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@usersStatistics.StoragesAmount</td>
            <td>@usersStatistics.ItemsAmount</td>
            <td>@usersStatistics.RegistrationDate</td>
            <td>@usersStatistics.LastLoginDate</td>
            <td>@usersStatistics.MaxItemsInStorage</td>
        </tr>
    </tbody>
</table>


@code {
    private string CurrentUserId {
        get {
            return currentUserId;
        }
        set {
            currentUserId = value;
        }
    }

    private List<ApplicationUserDTO> users = new List<ApplicationUserDTO>();
    private StatisticsDTO usersStatistics = new StatisticsDTO();
    private string currentUserId = string.Empty;


    protected override async Task OnInitializedAsync() {
        users = await apiService.GetEntitiesAsync<ApplicationUserDTO>(Properties.Resources.usersApi);
    }

    private async Task ChangeUser(string value) {
        CurrentUserId = value;
        await GetUsersStorages();
    }

    private async Task GetUsersStorages() {
        usersStatistics = await apiService.GetEntityAsync<StatisticsDTO>($"{Properties.Resources.statisticsApi}/{CurrentUserId}");
    }
}
