@page "/storages"
@using DTOModels
@using NetGroupChallengeBlazor.Client.Components
@using Microsoft.AspNetCore.Authorization 
@using ClientServices.Interfaces
@attribute [Authorize(Roles = "User, Admin")]
@inject IApiService apiService


@if (CreateDialogOpen) {
    <DialogComponent Title="Create" OnClose="@OnCreateDialogClose">
        <StorageFormComponent Storage="@newStorage" />
    </DialogComponent>
}

@if (DeleteDialogOpen) {
    <DialogComponent Title="Delete" OnClose="@OnDeleteDialogClose">
        Do you want to delete this entry?
    </DialogComponent>
}

<div>
    <h3 class="p-3 text-center">@CurrentStorage.StoragePath</h3>
    <button type="button" class="btn" @onclick="() => SelectPreviousStorage()">Back</button>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th><button type="button" class="btn" @onclick="() => OpenCreateDialog()">Create</button></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var storage in nestedStorages)
            {
                <tr>
                    <td>
                        <button type="button" class="btn" @onclick="() => SelectNextStorage(storage)">@storage.Title</button>
                    </td>
                    <td>
                        <button type="button" class="btn" @onclick="() => OpenDeleteDialog(storage)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public StorageDTO CurrentStorage { get; set; } = new StorageDTO();


    private List<StorageDTO> nestedStorages = new List<StorageDTO>();
    private List<ItemDTO> nestedItems = new List<ItemDTO>();
    private StorageCreateDTO newStorage;
    private StorageDTO deleteStorage;

    protected override async Task OnInitializedAsync() {
        await UpdateStorages();
    }


    private bool DeleteDialogOpen { get; set; }
    private void OpenDeleteDialog(StorageDTO storage) {
        DeleteDialogOpen = true;
        deleteStorage = storage;
        StateHasChanged();
    }
    private async Task OnDeleteDialogClose(bool accepted) {
        DeleteDialogOpen = false;
        if (accepted) {
            await apiService.DeleteAsync($"{Properties.Resources.storagesApi}/{deleteStorage.Id}");
            await UpdateStorages();
            StateHasChanged();
        }
    }


    private bool CreateDialogOpen { get; set; }
    private void OpenCreateDialog() {
        CreateDialogOpen = true;
        newStorage = new StorageCreateDTO();
        if(CurrentStorage.Id != Guid.Empty) {
            newStorage.ParentStorageId = CurrentStorage.Id;
        }
        StateHasChanged();
    }
    private async Task OnCreateDialogClose(bool accepted) {
        CreateDialogOpen = false;
        if (accepted) {
            newStorage.StoragePath = $"{CurrentStorage.StoragePath}/{newStorage.Title}";
            await apiService.CreateEntityAsync(Properties.Resources.storagesApi, newStorage);
            await UpdateStorages();
            StateHasChanged();
        }
    }

    private async Task SelectNextStorage(StorageDTO storage) {
        await UpdateCurrentStorage(storage);
    }

    private async Task SelectPreviousStorage() {
        var storage = new StorageDTO();
        if(CurrentStorage.ParentStorageId is not null) {
            storage = await apiService.GetEntityAsync<StorageDTO>($"{Properties.Resources.storagesApi}/{CurrentStorage.ParentStorageId}");
        } 
        await UpdateCurrentStorage(storage);
    }

    private async Task UpdateCurrentStorage(StorageDTO storage) {
        CurrentStorage = storage;
        await UpdateStorages();
    }

    private async Task UpdateStorages() {
        var storages = await apiService.GetEntityAsync<StorageDTO>($"{Properties.Resources.storagesApi}/{CurrentStorage.Id}");
        nestedStorages = storages.NestedStorages;
    }
}
